In [106]:
import pandas as pd
import datetime

In [107]:
data = pd.read_csv('5-8 Step Funnel_Payment (5).csv')
data.head()

,Event,Date,Event Value,Email,Device Id,Oct 1 2018 - Jan 22 2019
0,screen-view - Unique,Dec 01 '18,confirm-tickets-page,claretburns84@live.co.uk,167696b24c70-0351bddb53c4b8-1a475464-410a0-167...,1
1,screen-view - Unique,Dec 01 '18,confirm-tickets-page,dionneblin@hotmail.com,undefined,1
2,screen-view - Unique,Dec 01 '18,confirm-tickets-page,hannahfeldman@me.com,undefined,1
3,screen-view - Unique,Dec 01 '18,confirm-tickets-page,harriscaroline41@gmail.com,1676ad450ba21-014dca1ff2a758-59175b1d-38400-16...,1
4,screen-view - Unique,Dec 01 '18,confirm-tickets-page,lindsay.read@hotmail.co.uk,1676938c16d346-043a2d77866bbf8-704b1e6f-3d10d-...,1

In [108]:
data['Event'] = data['Event'].apply(lambda s: s.split(' - Unique')[0])
data['Date'] = data['Date'].apply(lambda x: datetime.datetime.strptime(x, '%b %d \'%y')
                                              .strftime('%Y%m%d'))
#data = data[data['mp_processing_time_ms']!='undefined']
#data['date'] = data['mp_processing_time_ms'].apply(lambda ms: datetime.datetime.fromtimestamp(int(ms)/1000.0).strftime('%Y%m%d'))
data.head()

,Event,Date,Event Value,Email,Device Id,Oct 1 2018 - Jan 22 2019
0,screen-view,20181201,confirm-tickets-page,claretburns84@live.co.uk,167696b24c70-0351bddb53c4b8-1a475464-410a0-167...,1
1,screen-view,20181201,confirm-tickets-page,dionneblin@hotmail.com,undefined,1
2,screen-view,20181201,confirm-tickets-page,hannahfeldman@me.com,undefined,1
3,screen-view,20181201,confirm-tickets-page,harriscaroline41@gmail.com,1676ad450ba21-014dca1ff2a758-59175b1d-38400-16...,1
4,screen-view,20181201,confirm-tickets-page,lindsay.read@hotmail.co.uk,1676938c16d346-043a2d77866bbf8-704b1e6f-3d10d-...,1

In [109]:
data['Event Value'] = data.apply(lambda row: row['Event Value'] if row['Event']=='screen-view' else '', axis=1)

In [110]:
event_values_to_use = ['your-tickets-page','select-your-seats-page', 'confirm-tickets-page', 'payment-page']
data['to_drop'] = data.apply(lambda row: 1 if (row['Event']=='screen-view' and row['Event Value'] not 
                                               in event_values_to_use) else 0, axis=1)

In [111]:
data = data[data['to_drop']!=1]

In [112]:
data['Event'] = data.apply(lambda row: row['Event Value'] if row['Event']=='screen-view' else row['Event'], axis=1)

In [113]:
data['Email+device_id'] = data.apply(lambda row: ''.join([str(row['Email']),str(row['Device Id'])]), axis=1)

In [114]:
result = data.groupby(['Date', 'Event'])['Email+device_id'].apply(list).reset_index()
result['Email+device_id'] = result['Email+device_id'].apply(lambda x: len(list(set(x))))
result.head()

       Date                   Event  Email+device_id
0  20181001    confirm-tickets-page                7
1  20181001            payment-page                7
2  20181001  select-your-seats-page                7
3  20181001       your-tickets-page               14
4  20181002    confirm-tickets-page               24

In [115]:
index = {'confirm-tickets-page':4,
 'pay-button-pressed':6,
 'pay-success':7,
 'payment-page':5,
 'select-your-seats-page':3,#?
 'selected-ticket-info':2,
 'your-tickets-page':1}
result['index'] = result['Event'].apply(lambda x: index[x])

In [116]:
#result.sort_values(by=['Date', 'index'], ascending=True)

In [117]:
result = result.sort_values(by=['Date', 'index'], ascending=True)
result.to_csv('5-8 steps formated data (3).csv')

In [51]:
test = result[result['Date'] > '20180917']
test.sort_values(by=['Date', 'index'], ascending=True)[:30]

          Date                   Event  Email+device_id  index
1811  20180916       your-tickets-page                6      1
1810  20180916    selected-ticket-info                4      2
1809  20180916  select-your-seats-page                1      3
1807  20180916      pay-button-pressed                1      6
1808  20180916             pay-success                1      7
1816  20180917       your-tickets-page                6      1
1815  20180917    selected-ticket-info                6      2
1814  20180917  select-your-seats-page                1      3
1812  20180917    confirm-tickets-page                1      4
1813  20180917            payment-page                1      5
1823  20180918       your-tickets-page               13      1
1822  20180918    selected-ticket-info               19      2
1821  20180918  select-your-seats-page                5      3
1817  20180918    confirm-tickets-page                4      4
1820  20180918            payment-page                4      5
1818  20180918      pay-button-pressed                2      6
1819  20180918             pay-success                2      7
1830  20180919       your-tickets-page               10      1
1829  20180919    selected-ticket-info                9      2
1828  20180919  select-your-seats-page                7      3
1824  20180919    confirm-tickets-page                1      4
1827  20180919            payment-page                1      5
1825  20180919      pay-button-pressed                1      6
1826  20180919             pay-success                1      7
1837  20180920       your-tickets-page                8      1
1836  20180920    selected-ticket-info               11      2
1835  20180920  select-your-seats-page                2      3
1831  20180920    confirm-tickets-page                2      4
1834  20180920            payment-page                2      5
1832  20180920      pay-button-pressed                1      6

In [55]:
test = data[data['Date'] > '20180917']
l = ['your-tickets-page', 'selected-ticket-info']
test = test[test['Event'].isin(l)]
test.sort_values(by=['Date', 'Email+device_id'], ascending=True)[:50]

,Event,Email,Device Id,Date,Event Value,Sep 28 2017 - Jan 22 2019,to_drop,Email+device_id
454328,selected-ticket-info,ajita_d@yahoo.com,NaN,20180918,,1,0,ajita_d@yahoo.comnan
21757,your-tickets-page,britta@taraswonderworld.co.uk,NaN,20180918,your-tickets-page,1,0,britta@taraswonderworld.co.uknan
455156,selected-ticket-info,britta@taraswonderworld.co.uk,NaN,20180918,,1,0,britta@taraswonderworld.co.uknan
43460,your-tickets-page,charlotteamelia14@gmail.com,NaN,20180918,your-tickets-page,1,0,charlotteamelia14@gmail.comnan
455400,selected-ticket-info,charlotteamelia14@gmail.com,NaN,20180918,,1,0,charlotteamelia14@gmail.comnan
455988,selected-ticket-info,ehederer@gmail.com,NaN,20180918,,1,0,ehederer@gmail.comnan
456122,selected-ticket-info,emmaphelps@hotmail.co.uk,NaN,20180918,,1,0,emmaphelps@hotmail.co.uknan
456286,selected-ticket-info,feriel59@yahoo.co.uk,NaN,20180918,,1,0,feriel59@yahoo.co.uknan
456480,selected-ticket-info,gintare100@yahoo.com,NaN,20180918,,1,0,gintare100@yahoo.comnan
456662,selected-ticket-info,hannahfeldman@me.com,NaN,20180918,,1,0,hannahfeldman@me.comnan
93484,your-tickets-page,hroussoulis@btinternet.com,NaN,20180918,your-tickets-page,1,0,hroussoulis@btinternet.comnan
456994,selected-ticket-info,hroussoulis@btinternet.com,NaN,20180918,,1,0,hroussoulis@btinternet.comnan
457220,selected-ticket-info,jennymilway@gmail.com,NaN,20180918,,1,0,jennymilway@gmail.comnan
159786,your-tickets-page,lpaniaguamerchan@yahoo.es,NaN,20180918,your-tickets-page,1,0,lpaniaguamerchan@yahoo.esnan
458273,selected-ticket-info,lpaniaguamerchan@yahoo.es,NaN,20180918,,1,0,lpaniaguamerchan@yahoo.esnan
271515,your-tickets-page,NaN,NaN,20180918,your-tickets-page,2,0,nannan
459540,selected-ticket-info,NaN,NaN,20180918,,2,0,nannan
231252,your-tickets-page,natashafolkes93@yahoo.co.uk,NaN,20180918,your-tickets-page,1,0,natashafolkes93@yahoo.co.uknan
239526,your-tickets-page,nickyraperport@hotmail.com,NaN,20180918,your-tickets-page,1,0,nickyraperport@hotmail.comnan
459056,selected-ticket-info,nickyraperport@hotmail.com,NaN,20180918,,1,0,nickyraperport@hotmail.comnan
273659,your-tickets-page,olegbm@gmail.com,NaN,20180918,your-tickets-page,1,0,olegbm@gmail.comnan
459572,selected-ticket-info,olegbm@gmail.com,NaN,20180918,,1,0,olegbm@gmail.comnan
275304,your-tickets-page,omary83@yahoo.com,NaN,20180918,your-tickets-page,1,0,omary83@yahoo.comnan
459595,selected-ticket-info,omary83@yahoo.com,NaN,20180918,,1,0,omary83@yahoo.comnan
303563,your-tickets-page,ramnarine@live.co.uk,NaN,20180918,your-tickets-page,1,0,ramnarine@live.co.uknan
459853,selected-ticket-info,ramnarine@live.co.uk,NaN,20180918,,1,0,ramnarine@live.co.uknan
315187,your-tickets-page,rjdean72@googlemail.com,NaN,20180918,your-tickets-page,1,0,rjdean72@googlemail.comnan
459964,selected-ticket-info,rjdean72@googlemail.com,NaN,20180918,,1,0,rjdean72@googlemail.comnan
331547,your-tickets-page,salma_assadi@yahoo.com,NaN,20180918,your-tickets-page,1,0,salma_assadi@yahoo.comnan
460120,selected-ticket-info,salma_assadi@yahoo.com,NaN,20180918,,1,0,salma_assadi@yahoo.comnan
436572,your-tickets-page,vivekp@prdxn.com,NaN,20180918,your-tickets-page,1,0,vivekp@prdxn.comnan
461115,selected-ticket-info,vivekp@prdxn.com,NaN,20180918,,1,0,vivekp@prdxn.comnan
66528,your-tickets-page,danielamariamihai@yahoo.fr,NaN,20180919,your-tickets-page,1,0,danielamariamihai@yahoo.frnan
455711,selected-ticket-info,danielamariamihai@yahoo.fr,NaN,20180919,,1,0,danielamariamihai@yahoo.frnan
456333,selected-ticket-info,fraser.skilling@gmail.com,NaN,20180919,,1,0,fraser.skilling@gmail.comnan
93495,your-tickets-page,hroussoulis@btinternet.com,NaN,20180919,your-tickets-page,1,0,hroussoulis@btinternet.comnan
457027,selected-ticket-info,illana.esther@gmail.com,NaN,20180919,,1,0,illana.esther@gmail.comnan
124953,your-tickets-page,laurakantzler@hotmail.com,NaN,20180919,your-tickets-page,1,0,laurakantzler@hotmail.comnan
457936,selected-ticket-info,laurakantzler@hotmail.com,NaN,20180919,,1,0,laurakantzler@hotmail.comnan
200746,your-tickets-page,mich_78st@yahoo.co.uk,NaN,20180919,your-tickets-page,1,0,mich_78st@yahoo.co.uknan
271539,your-tickets-page,NaN,NaN,20180919,your-tickets-page,1,0,nannan
459541,selected-ticket-info,NaN,NaN,20180919,,1,0,nannan
239537,your-tickets-page,nickyraperport@hotmail.com,NaN,20180919,your-tickets-page,1,0,nickyraperport@hotmail.comnan
459057,selected-ticket-info,nickyraperport@hotmail.com,NaN,20180919,,1,0,nickyraperport@hotmail.comnan
279234,your-tickets-page,paintycan@hotmail.com,NaN,20180919,your-tickets-page,1,0,paintycan@hotmail.comnan
459632,selected-ticket-info,paintycan@hotmail.com,NaN,20180919,,1,0,paintycan@hotmail.comnan
337908,your-tickets-page,sapnasheth8210@gmail.com,NaN,20180919,your-tickets-page,1,0,sapnasheth8210@gmail.comnan
460169,selected-ticket-info,sapnasheth8210@gmail.com,NaN,20180919,,1,0,sapnasheth8210@gmail.comnan
389310,your-tickets-page,ss.jelena@gmail.com,NaN,20180919,your-tickets-page,1,0,ss.jelena@gmail.comnan
428643,your-tickets-page,venera_phl@yahoo.co.uk,NaN,20180919,your-tickets-page,1,0,venera_phl@yahoo.co.uknan

In [60]:
data[data['Date']=='Sep 4 \'18']
#t[t['Date']=='Sep 4 \'18']

Empty DataFrame
Columns: [Event, Email, Device Id, Date, Event Value, Sep 28 2017 - Jan 22 2019]
Index: []

In [ ]:
steps = {'step1': ['First App Open'],
         'step2':['successful-signup', 'successful-signin', 'successful-signinup'],
         #'step3':['presented-onboarding', 'selected-interest'],
         'step4':['viewed-collection','viewed-event', 'collection-venue-selected', 'search-performed', 'filter-pressed', 'viewed-category', 'viewed-venue'],
         'step5':['click-to-buy'],
         'step6':['selected-ticket-info'],
         'step7':['pay-button-pressed'],
         'step8':['pay-success']}

In [26]:
result[result['Event+']]

(20709, 7)

In [378]:
# drop undefined
#data['to_delete'] = data.apply(lambda row: 1 if (row['Email']=='undefined' and row['Device Id']=='undefined') else 0,
#                               axis=1)
#data = data[data['to_delete']!=1]
#data[data['to_delete']==1].shape[0]
#data = data[data['Email']!='undefined' && data['Device Id']!='undefined']
#data = data[data['Device Id']!='undefined']

In [379]:
steps = {'step1': ['First App Open'],
         'step2':['successful-signup', 'successful-signin', 'successful-signinup'],
         #'step3':['presented-onboarding', 'selected-interest'],
         'step4':['viewed-collection','viewed-event', 'collection-venue-selected', 'search-performed', 'filter-pressed', 'viewed-category', 'viewed-venue'],
         'step5':['click-to-buy'],
         'step6':['selected-ticket-info'],
         'step7':['pay-button-pressed'],
         'step8':['pay-success']}

In [380]:
for step in steps.keys():
    data['Event'] = data['Event'].apply(lambda event: step if event in steps[step] else event)

In [381]:
data['Email+user_id'] = data.apply(lambda row: ''.join([str(row['Email']),str(row['Device Id'])]), axis=1)

In [382]:
#step3 = ['presented-onboarding', 'selected-interest']
step3 = ['presented-onboarding','selected-interest']
temp = data[data['Event'].isin(step3)]
temp = temp.groupby(['Email+user_id', 'Date'])['Event'].apply(list).reset_index()
temp['Event'] = temp['Event'].apply(lambda l: list(set(l)))
temp['step3'] = temp['Event'].apply(lambda l: 1 if len(l)==2 else 0)
temp = temp[temp['step3']==1]

step3_ids = temp['Email+user_id'].values

In [383]:
data['Event'] = data.apply(lambda row: 'step3' if (row['Event'] in step3 and row['Email+user_id'] in step3_ids)
                                                  else row['Event'], axis=1)

In [384]:
steps['step3'] = []
data = data[data['Event'].isin(steps.keys())]
#data = data.drop('mp_processing_time_ms', 1)

In [385]:
result = data.drop_duplicates(subset=data.columns, keep='first')

In [386]:
installs = result[result['Event']=='step1']
installs = installs.sort_values(by=['Date'], ascending=True)
#instals.goupby(['Email+user_id'])['date'].
installs = installs.groupby(['Email+user_id'])['Date'].first()
installs = installs.to_dict()
installs.pop('nannan')

'20171201'

In [387]:
result['date_of_install'] = result.apply(lambda row: installs[row['Email+user_id']] 
                                         if row['Email+user_id'] in installs.keys()
                                         else 'unknown', axis=1)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [388]:
result = result[result['date_of_install']!= 'unknown']
result.head()

,Event,Email,Device Id,Date,Dec 1 2017 - Dec 31 2018,Email+user_id,date_of_install
194,step5,alanasommers@hotmail.com,NaN,20180821,1,alanasommers@hotmail.comnan,20180115
195,step5,alanavidler@hotmail.com,NaN,20181206,1,alanavidler@hotmail.comnan,20180718
196,step5,alanavidler@hotmail.com,NaN,20181121,1,alanavidler@hotmail.comnan,20180718
197,step5,alanavidler@hotmail.com,NaN,20181129,1,alanavidler@hotmail.comnan,20180718
198,step5,alasadi_h@hotmail.co.uk,NaN,20180724,1,alasadi_h@hotmail.co.uknan,20180217

In [389]:
#result = result.groupby(['Date', 'Event'])['Email+user_id'].nunique().reset_index()
result = result.groupby(['date_of_install', 'Event'])['Email+user_id'].apply(list).reset_index()
result['Email+user_id'] = result['Email+user_id'].apply(lambda x: len(list(set(x))))
result.head()

  date_of_install  Event  Email+user_id
0        20171201  step1             17
1        20171201  step2             10
2        20171201  step3             14
3        20171201  step4             15
4        20171201  step5              6

In [390]:
result = result.sort_values(by=['date_of_install', 'Event'], ascending=True)

In [394]:
test = result[result['date_of_install'] > '20180515']
test.sort_values(by=['date_of_install', 'Event'], ascending=True)[:30]

     date_of_install  Event  Email+user_id
1153        20180516  step1              7
1154        20180516  step2              6
1155        20180516  step3              5
1156        20180516  step4              6
1157        20180516  step5              1
1158        20180517  step1              9
1159        20180517  step2              9
1160        20180517  step3              8
1161        20180517  step4              8
1162        20180517  step5              1
1163        20180517  step6              1
1164        20180518  step1              9
1165        20180518  step2              8
1166        20180518  step3              6
1167        20180518  step4              8
1168        20180518  step5              3
1169        20180518  step6              2
1170        20180519  step1              6
1171        20180519  step2              6
1172        20180519  step3              5
1173        20180519  step4              6
1174        20180519  step5              3
1175        20180519  step6              2
1176        20180519  step7              1
1177        20180519  step8              1
1178        20180520  step1              7
1179        20180520  step2              7
1180        20180520  step3              5
1181        20180520  step4              7
1182        20180520  step5              2

In [343]:
virgin = pd.read_csv('1 Step Funnel_Final.csv')
virgin['Event'] = virgin['Event'].apply(lambda s: s.split(' - Unique')[0])
virgin['Date'] = virgin['Date'].apply(lambda x: datetime.datetime.strptime(x, '%b %d \'%y')
                                              .strftime('%Y%m%d'))
virgin = virgin.sort_values(by=['Date'], ascending=True)
virgin[virgin['Event']=='presented-onboarding']

,Event,Email,Device Id,Date,Dec 1 2017 - Dec 31 2018
29060,presented-onboarding,acotsen@gmail.com,NaN,20180122,1
34142,presented-onboarding,kwds1378@gmail.com,NaN,20180122,1
34100,presented-onboarding,ksanc18@aol.com,NaN,20180122,1
36161,presented-onboarding,missbethell@yahoo.co.uk,NaN,20180122,1
37501,presented-onboarding,NaN,NaN,20180122,2
29419,presented-onboarding,alkisghinis@gmail.com,NaN,20180122,1
41088,presented-onboarding,ushamistry09@gmail.com,NaN,20180122,1
34678,presented-onboarding,lindsay_stewart123@hotmail.com,NaN,20180122,1
41412,presented-onboarding,vivekvpandey.vp@gmail.com,NaN,20180122,1
36935,presented-onboarding,nicolachennells@hotmail.com,NaN,20180122,1
40758,presented-onboarding,thakkersmeet@gmail.com,NaN,20180122,1
40700,presented-onboarding,tedi_8@yahoo.com,NaN,20180122,1
40897,presented-onboarding,tomba.giulia@gmail.com,NaN,20180122,1
31322,presented-onboarding,charise.jessup@gmail.com,NaN,20180122,1
38171,presented-onboarding,preenab@hotmail.com,NaN,20180122,1
39310,presented-onboarding,sarahlsleen@doctors.org.uk,NaN,20180122,1
38091,presented-onboarding,pippakapp@googlemail.com,NaN,20180122,1
31126,presented-onboarding,carolinebradley3@yahoo.co.uk,NaN,20180122,1
32181,presented-onboarding,deanezekiel@live.com,NaN,20180122,1
38509,presented-onboarding,rebeccabright79@hotmail.com,NaN,20180122,1
38963,presented-onboarding,sabestinaite@gmail.com,NaN,20180122,1
38221,presented-onboarding,priyasathiya3k@gmail.com,NaN,20180122,1
38258,presented-onboarding,pupik78@hotmail.com,NaN,20180122,1
31651,presented-onboarding,clarcher83@gmail.com,NaN,20180122,1
33002,presented-onboarding,jennafreedman@hotmail.com,NaN,20180122,1
33430,presented-onboarding,karendavies35@hotmail.co.uk,NaN,20180122,1
37754,presented-onboarding,onthe_run@yahoo.com,NaN,20180122,1
33806,presented-onboarding,khuramyounis@gmail.com,NaN,20180122,1
36827,presented-onboarding,neilauerbach@hotmail.com,NaN,20180122,1
33118,presented-onboarding,jessica_lcha@hotmail.com,NaN,20180122,1
...,...,...,...,...,...
41277,presented-onboarding,victoriafuller81@googlemail.com,5908C3F3-2DDF-4C43-9B80-9D17D1F5C72F,20181230,1
36114,presented-onboarding,minara2005@hotmail.co.uk,16800120c1b157-01af5b541b778a-5b3c102a-38400-1...,20181230,1
30936,presented-onboarding,byrneclo@gmail.com,E2DE9196-7814-4F79-B634-58849703BD4C,20181230,1
29692,presented-onboarding,amylou9122@hotmail.com,4A6F1491-E53F-4E52-A559-7E2FB29A9CDD,20181230,1
29814,presented-onboarding,andrew_reed@hotmail.com,NaN,20181230,1
29248,presented-onboarding,akounis@gmail.com,NaN,20181230,1
30388,presented-onboarding,avastacey123@yahoo.co.uk,C92D4F18-0A57-480A-B952-9B57B2A658C7,20181230,1
30454,presented-onboarding,b.oana83@yahoo.com,1DC5FEA6-49A1-473A-A954-EBCEDA31AD9F,20181230,1
37240,presented-onboarding,NaN,1680331895574a-0ba395b1679a9a-3b720b58-100200-...,20181231,1
40339,presented-onboarding,sue.douglas@hotmail.com,78B51A7B-D446-42C3-B9E0-8EBA886A3944,20181231,1
37238,presented-onboarding,NaN,167f5732cdf1b9-04f6d029bd2073-e716120-38400-16...,20181231,1
37173,presented-onboarding,NaN,083529A8-0477-418C-A210-EB26369A5634,20181231,1
40462,presented-onboarding,suzie_pomfret@hotmail.com,NaN,20181231,1
37316,presented-onboarding,NaN,671C592F-CE2D-4491-B327-525DA85952AD,20181231,1
37260,presented-onboarding,NaN,2B1C48B9-9995-4F44-8929-A348FACA0FAC,20181231,1
31448,presented-onboarding,chloe_rox89@hotmail.co.uk,16805b91c8324-0ddd8a520f327e-5b39102a-49a10-16...,20181231,1
39071,presented-onboarding,samantha.davison31@gmail.com,1B0EA4B5-4D73-441F-A9A4-142220B1B6BA,20181231,1
37483,presented-onboarding,NaN,NaN,20181231,1
39969,presented-onboarding,snowdrop_7@hotmail.com,693720AC-FC1E-4EE3-A60A-E28A95330CF4,20181231,1
32467,presented-onboarding,i.nana@me.com,CB581BB1-316B-4C90-9A8B-2AC481890B39,20181231,1
35219,presented-onboarding,m.dichuk@gmail.com,167eaf94cd229-07c21c31d39c68-5d39102a-55188-16...,20181231,1
33482,presented-onboarding,kaste_f@hotmail.de,0D9123F0-8BF3-4A30-BE4A-130F81C7CB7C,20181231,1
32913,presented-onboarding,jayhillupperton1971@gmail.com,FB203CC5-534F-416F-AB14-DCC8573C727A,20181231,1
34440,presented-onboarding,laynoto@icloud.com,B9686256-31C5-4A1E-A1D6-AF9D56746C0E,20181231,1
32406,presented-onboarding,hopkinson566@aol.com,0A72D4A5-4D80-429E-A328-8926323D4AC2,20181231,1
36878,presented-onboarding,nicb83@hotmail.com,4ACA480E-B95D-4F3D-A6E7-54532D6F0695,20181231,1
36314,presented-onboarding,mp3carley@hotmail.com,0300C0E0-F291-49DA-BCAE-888981B340B0,20181231,1
35717,presented-onboarding,matthewsamy1@hotmail.co.uk,8299EE33-00D7-4F1A-BA6E-D012D87CC652,20181231,1
41797,presented-onboarding,zam.mohammed@hotmail.com,1F240D6F-06CD-412D-B9DF-DE92BBB03AFC,20181231,1
32124,presented-onboarding,davidbromley1985@outlook.com,90038248-9FA0-4343-AA71-EFE6086FC6E8,20181231,1

In [ ]:
data = pd.read_csv('1 Step Funnel_Final.csv')
data.head()

In [346]:
result.to_csv('formated_data.csv',index=False)

In [ ]:
result_df

In [53]:
cols_to_merge = ['Date', 'Event']
final_data = pd.DataFrame()
for event in all_events:
    temp = data[data['Event']== event]
    temp = temp[['Country', 'City', 'Date', 'Value']]
    temp.columns = ['Country', 'City', 'Date', event]
    
    if final_data.empty:
        final_data = pd.DataFrame(temp)
    else:
        final_data = pd.merge(final_data, temp,  how='outer', on=cols_to_merge)

In [248]:
unique = list(set(data['Event'].values))
unique

['selected-ticket-info',
 'successful-signup',
 'viewed-event',
 'viewed-venue',
 'pay-button-pressed',
 'search-performed',
 'viewed-collection',
 'presented-onboarding',
 'First App Open',
 'pay-success',
 'click-to-buy',
 'filter-used',
 'successful-signin',
 'viewed-category',
 'successful-signinup',
 'selected-interest']

In [17]:
temp = data[data['Email']=='undefined']
temp = temp[temp['Device Id']=='undefined']
#temp = temp[temp['Event']!='viewed-collection']
#temp = temp[temp['Event']!='successful-signup']
temp.shape[0]/data.shape[0]

0.056380139767767734

In [25]:
d = list(set(data['Event'].values))
d = [str(x) for x in d]
d.sort()
d

['confirm-tickets-page',
 'pay-button-pressed',
 'pay-success',
 'payment-page',
 'select-your-seats-page',
 'selected-ticket-info',
 'your-tickets-page']

In [18]:
l = ['your-tickets-page','select-your-seats-page', 'confirm-tickets-page', 'payment-page']
t = list(filter(lambda x: 'your-tickets-page' in x, d))
t

['your-tickets-page']